* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-size: 17px;
}

.hero,
.add {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 90px;
  gap: 16px;
}

.hero div {
  width: 50%;
  margin: auto;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li {
  display: flex;
  list-style: none;
  padding: 16px 8px;
  justify-content: space-between;
  width: 100%;
}

li h2 {
  color: #000;
  font-size: 20px;
}

li button {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: transparent;
}

.add {
  display: flex;
  flex-direction: column;
}

.add form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.push {
  padding: 8px 16px;
  border: 1px solid #000;
  background: transparent;
  align-self: flex-end;
}

input {
  padding: 11px;
  width: 100%;
}
